<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tejma.sched">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sched">
        <activity android:name=".activities.HelpActivity"></activity>
        <activity android:name=".activities.ReminderSettings" />
        <activity android:name=".activities.ScheduleEvent">
            <intent-filter
                android:autoVerify="true"
                android:label="Quick Schedule">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="zoom.us"
                    android:scheme="http" />
                <data
                    android:host="zoom.us"
                    android:scheme="https" />
                <data
                    android:host="*.meetzoom.nets"
                    android:scheme="https" />
                <data
                    android:host="*.zoomus.cn"
                    android:scheme="https" />
                <data
                    android:host="meetzoom.net"
                    android:scheme="https" />
                <data
                    android:host="*.zoom.us"
                    android:scheme="https" />
                <data
                    android:host="*.zoom.com"
                    android:scheme="https" />
                <data
                    android:host="zoom.com.cn"
                    android:scheme="https" />
                <data
                    android:host="teams.microsoft.com"
                    android:scheme="http" />
                <data
                    android:host="teams.microsoft.com"
                    android:scheme="https" />
                <data
                    android:host="govt.teams.microsoft.us"
                    android:scheme="https" />
                <data
                    android:host="dod.teams.microsoft.us"
                    android:scheme="https" />
                <data
                    android:host="ppespaces.skype.com"
                    android:scheme="https" />
                <data
                    android:host="teams.skype.com"
                    android:scheme="https" />
                <data
                    android:host="devspaces.skype.com"
                    android:scheme="https" />
                <data
                    android:host="teams.live.com"
                    android:scheme="https" />
                <data
                    android:host="*.webex.com"
                    android:scheme="https" />
                <data
                    android:host="fake_assistant.webex.com"
                    android:scheme="https" />
                <data
                    android:host="meet.google.com"
                    android:scheme="http" />
                <data
                    android:host="meet.google.com"
                    android:scheme="https" />
                <data
                    android:host="dial.meet"
                    android:scheme="https" />
                <data
                    android:host="tel.meet"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.OpenLinks"
            android:icon="@drawable/ic_lcd"
            android:label="Open Links"
            android:roundIcon="@drawable/ic_lcd">
            <intent-filter
                android:autoVerify="true"
                android:label="Open on PC">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:mimeType="application/pdf" />
                <data
                    android:host="zoom.us"
                    android:scheme="http" />
                <data
                    android:host="zoom.us"
                    android:scheme="https" />
                <data
                    android:host="*.meetzoom.nets"
                    android:scheme="https" />
                <data
                    android:host="*.zoomus.cn"
                    android:scheme="https" />
                <data
                    android:host="meetzoom.net"
                    android:scheme="https" />
                <data
                    android:host="*.zoom.us"
                    android:scheme="https" />
                <data
                    android:host="*.zoom.com"
                    android:scheme="https" />
                <data
                    android:host="zoom.com.cn"
                    android:scheme="https" />
                <data
                    android:host="teams.microsoft.com"
                    android:scheme="http" />
                <data
                    android:host="teams.microsoft.com"
                    android:scheme="https" />
                <data
                    android:host="govt.teams.microsoft.us"
                    android:scheme="https" />
                <data
                    android:host="dod.teams.microsoft.us"
                    android:scheme="https" />
                <data
                    android:host="ppespaces.skype.com"
                    android:scheme="https" />
                <data
                    android:host="teams.skype.com"
                    android:scheme="https" />
                <data
                    android:host="devspaces.skype.com"
                    android:scheme="https" />
                <data
                    android:host="teams.live.com"
                    android:scheme="https" />
                <data
                    android:host="*.webex.com"
                    android:scheme="https" />
                <data
                    android:host="fake_assistant.webex.com"
                    android:scheme="https" />
                <data
                    android:host="meet.google.com"
                    android:scheme="http" />
                <data
                    android:host="meet.google.com"
                    android:scheme="https" />
                <data
                    android:host="dial.meet"
                    android:scheme="https" />
                <data
                    android:host="tel.meet"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.Login" />
        <activity
            android:name=".activities.Splash"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.EditClass" />
        <activity android:name=".activities.AddClass" />
        <activity android:name=".activities.Navigation"></activity>

        <receiver
            android:name=".Utils.NotificationBroadcast"
            android:enabled="true"
            android:exported="false" />
        <receiver
            android:name=".Utils.AlarmBroadcast"
            android:enabled="true"
            android:exported="false" />

        <service android:name=".Utils.OnClearFromRecentService" />
        <service android:name=".Utils.OnClearFromRecentService" />

        <provider
            android:name=".Utils.GenericFileProvider"
            android:authorities="com.tejma.sched"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>